In [ ]:
import numpy as np
import pandas as pd

In [ ]:
num_rand=np.random.randint(1,10,size=(4,4))

In [ ]:
num_rand

array([[3, 1, 9, 7],
       [5, 8, 9, 1],
       [6, 2, 8, 9],
       [6, 4, 7, 5]])

In [ ]:
df=pd.DataFrame(num_rand,columns=["High","low","medium","normal"])

In [ ]:
df

   High  low  medium  normal
0     3    1       9       7
1     5    8       9       1
2     6    2       8       9
3     6    4       7       5

In [ ]:
df.rename(columns={"High":"Random Value 1","low":"Random Value 2","medium":"Random Value 3","normal":"Random Value 4"},inplace=True)

In [ ]:
df

   Random Value 1  Random Value 2  Random Value 3  Random Value 4
0               3               1               9               7
1               5               8               9               1
2               6               2               8               9
3               6               4               7               5

In [ ]:
df.columns

Index(['Random Value 1', 'Random Value 2', 'Random Value 3', 'Random Value 4'], dtype='object')

In [ ]:
df.describe()

       Random Value 1  Random Value 2  Random Value 3  Random Value 4
count        4.000000        4.000000        4.000000         4.00000
mean         5.000000        3.750000        8.250000         5.50000
std          1.414214        3.095696        0.957427         3.41565
min          3.000000        1.000000        7.000000         1.00000
25%          4.500000        1.750000        7.750000         4.00000
50%          5.500000        3.000000        8.500000         6.00000
75%          6.000000        5.000000        9.000000         7.50000
max          6.000000        8.000000        9.000000         9.00000

In [ ]:
df.isnull()

   Random Value 1  Random Value 2  Random Value 3  Random Value 4
0           False           False           False           False
1           False           False           False           False
2           False           False           False           False
3           False           False           False           False

In [ ]:
df.dtypes

Random Value 1    int64
Random Value 2    int64
Random Value 3    int64
Random Value 4    int64
dtype: object

In [ ]:
df.loc[:,["Random Value 2","Random Value 3"]]

   Random Value 2  Random Value 3
0               1               9
1               8               9
2               2               8
3               4               7

In [ ]:
df.iloc[:,[1,2]]

   Random Value 2  Random Value 3
0               1               9
1               8               9
2               2               8
3               4               7